body {
  background-color: #1f1e1e;
  overflow: hidden;
  color: white;
}
h1 {
  text-align: center;
}
.todo-wrapper {
  background: #353434;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  width: fit-content;
  margin-top: 3%;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0px 5px 7px rgb(27, 27, 27);
}

.todo-input {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid gray;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.todo-input-item {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  margin-right: 26px;
}

.todo-input-item label {
  font-weight: bold;
  margin-bottom: 10px;
}
.todo-input-item input {
  padding: 8px;
  width: 250px;
  border: none;
}
.todo-input-item input:focus {
  outline: 2px solid rgb(0, 230, 122);
}
.primary-btn {
  background-color: rgb(0, 230, 122);
  border: none;
  border-radius: 0px;
  margin-top: 24px;
  padding: 11px;
  width: 60px;
  cursor: pointer;
}
.primary-btn:hover {
  background-color: rgb(0, 196, 106);
}

.secondary-btn {
  background-color: rgb(71, 71, 71);
  border: none;
  border-radius: 0px;
  margin-top: 26px;
  padding: 10px;
  width: fit-content;
  cursor: pointer;
  color: white;
}

.active {
  background-color: rgb(0, 230, 122);
}
.button-area {
  margin-bottom: 15px;
}
.todo-list {
  display: flex;
  flex-direction: column;
}
.todo-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #414040;
  padding: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
  box-shadow: 0px 3px 5px rgb(43, 42, 42);
}

.todo-list-item h3 {
  font-size: 25px;
  color: rgb(0, 230, 122);
  font-weight: bold;
  margin: 0px;
  margin-bottom: 15px;
}

.todo-list-item p {
  font-size: 14px;
  color: rgb(161, 161, 161);
  margin: 0px;
}

.icon {
  font-size: 35px;
  cursor: pointer;
}
.icon:hover {
  color: red;
}
.check-icon {
  font-size: 35px;
  margin-left: 10px;
  color: rgb(0, 230, 122);
}
.check-icon:hover {
  color: rgb(0, 196, 106);
}
